{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировка по:
                <a href="http://127.0.0.1:8000/catalog/?sort=max_price">начиная с дорогих</a>
                <a href="http://127.0.0.1:8000/catalog/?sort=min_price">начиная с дешевых</a>
                <a href="http://127.0.0.1:8000/catalog/?sort=name">названию</a>
            </p>
            {% for i in sort_name %}
            <ul>
                <li>{{i.name}}</li>
                <li>{{i.price}}</li>
                <li><img src={{i.image}}></li>
            </ul>
            {% endfor %}
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for i in catalog %}
            <ul>
                <li>{{i.name}}</li>
                <li>{{i.price}}</li>
                <li><img src={{i.image}}></li>
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}